.row {
    box-sizing: border-box;
    min-width:  100%;
    width:      100%;
    max-width:  100%;
}

/*  Vulgo: clearfix */
.row:before, 
.row:after {
    content:    " ";
    display:    table;
}

.row:after {
    clear:  both;
}
  
.col {
    box-sizing: border-box;
    position:   relative;
    float:      left;
    clear:      none;
}


.colspan-1 {
    width: 11.1875%;
    /* ((menor_coluna * span) + ((span - 1) * largura_calha)); */
}

.colspan-2 {
    width: calc(calc(11.1875% * 2) + 1.5%);
}

.colspan-3 {
    width: calc(calc(11.1875% * 3) + calc(2 * 1.5%));
}

.colspan-4 {
    width: calc(calc(11.1875% * 4) + calc(3 * 1.5%));
}

.colspan-5 {
    width: calc(calc(11.1875% * 5) + calc(4 * 1.5%));
}

.colspan-6 {
    width: calc(calc(11.1875% * 6) + calc(5 * 1.5%));
}

.colspan-7 {
    width: calc(calc(11.1875% * 7) + calc(6 * 1.5%));
}

.colspan-8 {
    width: 100%;
}

 


@media screen and (max-width: 1023px) {

    /*  Colunas indo para 100% */
    .col {
        min-width:  100%;
        width:      100%;
        max-width:  100%;
        clear:      both;
    }
    
    /*  Eliminação das calhas(gutters)  */
    .col + .col {
        margin: 0px;
    }

    .colspan-1 {
		margin-left: 0;
	}

	.colspan-2 {
		margin-left: 0;
	}

	.colspan-3 {
		margin-left: 0;
	}

	.colspan-4 {
		margin-left: 0;
	}

}


/*Definidos pelo desenvolvedor
largura_calha   =   1.5em;
numero_colunas  =   8;

numero_calhas   =   (numero_colunas - 1);               //  7
total_calhas    =   (numero_calhas * largura_calha);    //  10.5em

total_colunas   =   (100% - total_calhas);              //  89,5%
menor_coluna    =   (total_colunas / numero_colunas);   //  11.1875em

Calculado acima
menor_coluna    =   11.1875em

Como cada interação span = 1, 2, 3, ... é calculada
coluna^span =   ((menor_coluna * span) + ((span - 1) * largura_calha));

Então se span = 2
coluna^2    =   ((11.1875em * 2) + ((2 - 1) * 1.5em)) 
coluna^2    =   ((22.375em) + (1.5em))
coluna^2    =   23.875em;

Então se span = 3
coluna^3    =   ((11.1875em * 3) + ((3 - 1) * 1.5%)) 
coluna^3    =   ((33.5625em) + (3%))
coluna^3    =   33.5625em;

Então se span = 4
coluna^4    =   ((11.1875em * 4) + ((4 - 1) * 1.5%)) 
coluna^4    =   ((44.75em) + (4.5%))
coluna^4    =   49.25em;

*/